__pycache__/
*.py[cod]
.venv/
backend/.venv/

node_modules/
frontend/node_modules/
frontend/dist/

.DS_Store
/backend/app/normal
/backend/app/brack
*.jpg
c_capture/camera_server
backend/app/data/fp_zones.json
/LightServer/obj
